@{
    ViewBag.Title = "Пізнайко від 2 до 6";
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/Content/default.css">
    <base href="/">
    <title>Познайко</title>
    <script src=http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js></script>
</head>
<body>
    <script type="text/javascript">
        $(function () {
            $(window).scroll(function () {
                var top = $(document).scrollTop();
                if (top < 215) {
                    $(".strip").css({ top: '0', position: 'relative' });
                    $(".small_logo").css({ display: 'none', opacity: '0' });
                    $(".content").css({ margin: '0 0 0' });
                }
                else {
                    $(".strip").css({ top: '0', position: 'fixed' });
                    $(".small_logo").css({ display: 'inline-block', opacity: '1' });
                    $(".content").css({ margin: '50px 0 0' });
                }
            });
        });
    </script>
    <div class="main_container">
        <header>
            @Html.ActionLink("  ", "Index", null, new { @class = "logo" })<div class="ads">
                <div class="text">
                    <h1>

                        Листування: а/с 125, м. Київ-50, 04050, Україна
                        <br>posnayko-referent@niko.kiev.ua
                        <br>тел: (067) 232-40-34
                    </h1>
                </div>
            </div>
            <nav>
                <div class="strip">
                    <div class="iconmenu">
                        <div class="iconmenu-content">
                            @Html.ActionLink("Головна", "Index")
                            @Html.ActionLink("Контакти", "Contacts")
                            <a href="#">Дитячі свята</a>
                            <a href="#">Батькам</a>
                            <a href="#">Педагогам</a>
                        </div>
                    </div>
                    <div class="text">
                        <ul>
                            <div class="small_logo"></div>
                            <li>@Html.ActionLink("Познайка", "Poznayko")</li>
                            <li>@Html.ActionLink("Posnayko", "Posnayko")</li>
                            <li class="selected">@Html.ActionLink("Пізнайко від 2 до 6", "Piznaykotwo")</li>
                            <li>@Html.ActionLink("Пізнайко від 6", "Piznaykosix")</li>
                        </ul>
                    </div>
                    @Html.ActionLink("  ", "Registr", null, new { @class = "iconprofile" })
                </div>
            </nav>
        </header>
        <div class="content">
            <div>
                <div class="poster"><img src="~/Content/images/magmedv.png">Ціна: 30.00 грн</div>

                <div class="text">
                    <h1>Тема номера: Весняні казки</h1>
                    <h5>Пізнайко від 2 до 6, №3, 2017 р.</h5>
                    <p>Що таке весна? Це сонний їжачок, що прокинувся після зимового сну. Зайчата, білочки й навіть вередлива ласка, що змінюють свої теплі шубки. Це солодкий березовий сік і, звісно, мацюпуські чарівні чоловічки, що розтоплюють на річці кригу та розпушують бруньки на деревах. А ще… ще нові фейчики, які з’явилися разом із первоцвітами. І неодмінно весна – це свіжий номер «Пізнайко від 2 до 6»! Адже саме у ньому ти знайдеш казочки про згаданих героїв, пограєшся в забавки за сюжетом історій та навіть почаруєш завдяки незвичній весняній аплікації! Насолоджуйся березневим теплом на сторінках «Пізнайко від 2 до 6»!</p>
                </div>
                <div>@Html.ActionLink("  ", "Registr", null, new { @class = "buttonzakaz" })</div>
            </div>

            <div class="about">
                <div class="picture_about"><img src="~/Content/images/twopic1.png">Як ласка бажала стати особливою</div>
                <div class="picture_about"><img src="~/Content/images/twopic2.png">Що снилося їжачкові?</div>
                <div class="picture_about"><img src="~/Content/images/twopic3.png">Як фея зустріла весну</div>
            </div>
            <div class="bookslist">
                <p>-Попередні випуски-</p>
            </div>
        </div>


        <footer>
            <p>2017 - Copyright All Right Reserved. Designed and Developed by Strelets Nikita.</p>
        </footer>
    </div>

</body>
</html>